@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("images/bg-pattern-top-desktop.svg"), url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat no-repeat;
    background-position: top 0 left 0, right 0 bottom 0;
    min-height: 100vh;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rates_and_title{
    display: flex;
    justify-content: space-between;
}

.comments{
    display: flex;
}

footer { 
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    color: hsl(238, 29%, 16%)
}

footer a { color: hsl(228, 45%, 44%) }